body {
  background-color: black;
  margin: 0 auto;
}
#navbar {
  background-color: red;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: lightblue;
  height: 250px;
  width: calc((100% / 3) - 30px);
  float: left;
  margin-bottom: 15px;
}
.m-r {
  margin-right: 15px;
}
div {
  padding: 10px;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
  margin-right: 10px;
}
.left img {
  height: 70px;
}
.left h2 {
  display: inline;
  color: blue;
}
.right a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
.right a:hover {
  background-color: azure;
  color: blue;
}
.main {
  background-color: aqua;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
}
#aaa {
  float: right;
  background-color: blueviolet;
  background-color: lightblue;
  height: 220px;
  margin-bottom: 20px;
  width: calc((100% / 3) - 30px);
}
#bbb {
  float: left;
  background-color: blue;
  background-color: lightblue;
  height: 220px;
  width: calc((100% / 3) - 30px);
}
#ccc {
  background: #ff0000;
  overflow: hidden;
  height: 250px;
  margin: 15px;
}
.hh {
  background-color: #fff;
  margin: 15px;
  height: calc(250px - 60px);
  border: 7px solid #00ff00;
}
