body {
    background-color: #333;
    margin: auto;
}

#navbar {
    background-color: purple;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#main {

    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
}

.bottmbox {
    background-color: aqua;
    height: 200px;
    width: 31%;
    float: left;
    margin-bottom: 15px;
}

.mr {
    margin-right: 10px;
}

.mr {
    margin-left: 3px;
}

div {
    padding: 10px;
}

#main h1 {
    text-decoration: underline;
}

.left {
    float: left;


}

.right {
    width: calc(80% - 90px);

    float: right;

}
.right a {
    margin: 10px;
    float: right;
}

.left img {
    height: 30px;
}

.left h2 {
    display: inline;
    color: antiquewhite;

}

.right a {
    color: antiquewhite;
}