body {
  background-color: #f0f8ff;
  margin: 0 auto;
}
.navbar {
  background-color: #625c5c;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f8ff;
}
#left-navbar {
  width: auto;
  display: flex;
  justify-content: flex-start;
  float: left;
}
#right-navbar {
  width: auto;
  float: right;
  display: flex;
  justify-content: flex-end;
}
#left-navbar > img {
  height: 60px;
  float: left;
  margin: 10px 15px;
}
#left-navbar > h2 {
  color: antiquewhite;
}
#right-navbar > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  padding-top: 10px;
}
.maincontiner {
  height: calc(100vh - 81px);
  position: relative;
  overflow: hidden;
}
#sidebar {
  background-color: #625c5c;
  height: 100%;
  width: 150px;
  float: left;
}
#mainbar > h2 {
  color: #000000;
  margin: 0 0 15px 0;
  text-decoration: underline;
}
#mainbar {
  padding: 15px;
  width: calc(100vw - 180px);
  float: left;
}
.green-bg {
  background-color: #0ace82;
}
.purple-bg {
  background-color: #a259ff;
}
.red-bg {
  background-color: #f34e1e;
}
.cyan-bg {
  background-color: #1abcfd;
}
.tiles-block,
.circles-block {
  display: flex;
  float: left;
}
.tiles-block {
  margin: 0 0 20px;
}
.tile {
  height: 200px;
}
.tile,
.circle,
.chart {
  width: calc((100%) / 4.2);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle,
.chart {
  height: calc((93vw - 151px) / 4);
}
.circle {
  border-radius: 50%;
  margin-top: 15px;
}
#tiles-block > div,
#circles-block > div {
  margin-right: 15px;
}
#tiles-block > div:last-child,
#circles-block > div:last-child {
  margin-right: 0;
}
.tile h2,
.tile h3 {
  color: whitesmoke;
}
.inner-circle1 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle1 h2,
.inner-circle4 h2 {
  color: antiquewhite;
}
.inner-circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.inner-circle2 h2 {
  color: #000000;
}
.inner-circle3 {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.inner-circle4 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  width: 10px;
  position: absolute;
  overflow: hidden;
}
.chart {
  position: relative;
}
.chart div {
  bottom: 0;
}
.one {
  left: 0px;
  height: calc(100% - 60px);
}
.two {
  left: 30px;
  height: calc(100% - 40px);
}
.three {
  left: 80px;
  height: calc(100% - 60px);
}
.four {
  left: 120px;
  height: calc(100% - 30px);
}
.five {
  left: 160px;
  height: calc(100% - 80px);
}
.six {
  left: 200px;
  height: calc(100% - 20px);
}
.line {
  width: 100%;
  height: 15px;
  background-color: #625c5c;
  position: absolute;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px 30px 30px;
}
#sidebar nav a {
  color: whitesmoke;
  padding: 5px;
}
#sidebar nav a:first-child {
  padding-top: 0;
}
#sidebar nav a.active {
  color: lightgreen;
  text-decoration: none;
}
